@use '../../styles/variables.scss' as vars;

.gallery {
  margin: vars.$margin-desktop;
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 40px 40px;
  border-radius: 25px;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    margin: vars.$margin-tablet;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    margin: vars.$margin-mobile;
    padding: 0;
    background-color: #f6f6f6;
    gap: 20px;
  }
}
