@use '../../styles/variables.scss' as vars;

header {
  margin: vars.$margin-desktop;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 210px;
    height: 68px;
  }

  nav {
    display: flex;
    gap: 57px;

    .nav-link {
      color: black;
      text-decoration: none;
      font-size: 1.5em;
      font-weight: 500;
      &.active {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    margin: vars.$margin-tablet;
  }
}

@media (max-width: 768px) {
  header {
    margin: vars.$margin-mobile;

    img {
      width: 145px;
      height: 46px;
    }

    nav {
      gap: 26px;

      .nav-link {
        font-size: 0.75em;
        text-transform: uppercase;
      }
    }
  }
}
