@use '../../styles/variables.scss' as vars;

footer {
  background-color: black;
  text-align: center;
  padding: 60px 20px 20px 20px;

  img {
    width: 122px;
    height: 39px;
    margin-bottom: 40px;
  }

  p {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0 0 5px 0;
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 10px;
    }

    p {
      width: 133px;
      font-size: 0.75em;
      line-height: 1.4;
      margin: 0;
    }
  }
}
